<div class="w-full">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">All Articles</h1>
  </div>

  <div class="container-md">
    <div class="row gy-5">    
    <% @articles.each do |article| %>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
        <%= image_tag(asset_path("fire.jpeg"), class: "card-img-top", alt: "fire") %>
          <%= image_tag(article.images.attached? && article.images.any? ? article.images.first.variant(resize_to_limit: [300, 300]) : asset_path("blogger.png"), class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title"><%= article.title %></h5>
            <p class="article-user">USER: <%= article.user.email %></p>
            <a href="<%= article_path(article)%>" class="btn btn-primary">Read This FIRE Article</a>
            <p class="article-tags">
              <% if article.tags.any? %>
                <small class="text-muted"> <%= article.tag_list %> </small>
            <% else %>
            <small class="text-muted">
              No tags
            </small>
            <% end %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= link_to "<< My Articles List",articles_path, class: "btn btn-outline-primary" %>
    <%= link_to "<< All Tags List", tags_path, class: "btn btn-outline-primary" %>
  </div>