<h1 class="card-title"><%= @article.title %></h1>
<h3 class="card-subtitle mb-2 text-muted">
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
    <% end %>
</p>
</h3>
<div class="card" style="width: 100rem;">
  <div class="card-body">
    <h5 class="card-title">Author: <%= @article.user.email %></h5>
    <p class="card-text">Created: <%= @article.created_at.strftime("%B %d, %Y") %></p>
    <p class="card-text">Updated: <%= @article.updated_at.strftime("%B %d, %Y") %></p>
    <p class="card-text"><%= @article.body %></p>
  </div>
</div>

<h3>Images</h3>
<% @article.images.each do |image| %>
  <% if image.variable? %>
    <%= image_tag url_for(image.variant(resize_to_limit: [100, 100])) %>
      <% else %>
      <%= link_to rails_blob_path(image, disposition: 'attachment') do %>
        <%= image_tag 'placeholder.png', alt: 'download image' %>
      <% end %>
    <% end %>
<% end %>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments.reverse %>
<%= render partial: 'comments/form' %>

<% if user_signed_in? && current_user.id == @article.user_id %> 
  <%= link_to "Delete", article_path(@article), method: :delete, class: "btn btn-outline-danger", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete #{@article.title}"} %>
  <%= link_to "Edit", edit_article_path(@article), method: :get, class: "btn btn-outline-info", data: { "turbo-frame": "slide-over" } %>
<% end %>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to "<< My Articles List",articles_path, class: "btn btn-outline-primary" %>
  <%= link_to "<< All Articles List", all_articles_path, class: "btn btn-outline-primary" %>
  <%= link_to "<< All Tags List", tags_path, class: "btn btn-outline-primary" %>
</div>
<%= turbo_frame_tag "slide-over" %>
