
<h1 class="card-title">Articles Tagged With <%= @tag.name %></h1>

  <div id="tags" class="min-w-full">
  <% @tag.articles.each do |article| %>
  <div class="card" style="width: 100rem;">
    <div class="card-body">
      <h5 class="card-title"><%= link_to article.title, article_path(article) %> </h5>
      <p class="card-text">Created: <%= article.created_at.strftime("%B %d, %Y") %></p>
      <p class="card-text">Updated: <%= article.updated_at.strftime("%B %d, %Y") %></p>
      <% if user_signed_in? && current_user.id == article.user_id %>
      <%= link_to "Delete", tag_path(@tag), method: :delete, class: "btn btn-primary", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete #{@tag.name}"} %>
      <% end %>
    </div>
  </div>
  <% end %>
    <%= link_to "<< Back to previous page", request.referer, class: "btn btn-primary" %>

